@using AccountingBook.Models.Enum

@helper Display(CategoryEnum category)
{
switch (category)
{
    case CategoryEnum.Expenditure:
            <span class="color-red">支出</span>
        break;
    case CategoryEnum.Income:
            <span class="color-blue">收入</span>
        break;
    default:
            <span>--</span>
        break;
}
}